body{
    margin: 0;
    padding: 0;
    background: #fff;
}

/* Header */
header{
    margin-top: 20px;
    height: 50px;
    text-align: right;
    padding-right: 20px;
}

header li{
    list-style-type: none;
    display: inline;
    margin: 10px;
}

/* Main body section */
.container {
    text-align: center;
    padding-top: 7%;
}
  
input[type=text]{
    width: 40%;
    height: 35px;
    margin: 20px;
    padding: 5px 0 5px 15px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #cccbcb;
}

input[type=text]:hover{
    box-shadow: 1px 1px #a8a5a5;
}

input[type=submit]{
    width: 150px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: #fafafa;
}

input[type=submit]:hover{
    border: 1px solid #d1cece;
}

/* Footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 0 30px 30px;
    background-color: #ececec;
}